
<div class="formulario">
  <div class="subtitle">Editemos el perfil!</div>
  <form class="fomulario">

    <div class="input-container ic1">
    <label class="placeholder">nombre completo para el titulo</label>
    <input type="text" name="nombreCompleto" [(ngModel)]="datosEditados.github">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Nombre:</label>
    <input  class="input"type="text" name="nombre" [(ngModel)]="datosEditados.nombre" placeholder="">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Apellido:</label>
    <input type="text" name="apellido" [(ngModel)]="datosEditados.apellido">
    </div>


    <div class="input-container ic1">
    <label class="placeholder">Foto de perfil:</label>
    <input type="file" name="fotoPerfil" [(ngModel)]="datosEditados.fotoPerfil">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Descripción:</label>
    <textarea name="descripcion" [(ngModel)]="datosEditados.descripcion"></textarea>
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Titulo:</label>
    <textarea name="titulo" [(ngModel)]="datosEditados.titulo"></textarea>
    </div>

    <div class="input-container ic1">
    <label class="placeholder">LinkedIn:</label>
    <input type="text" name="linkedin" [(ngModel)]="datosEditados.linkedin">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Twitter:</label>
    <input type="text" name="twiter" [(ngModel)]="datosEditados.twiter">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">Github:</label>
    <input type="text" name="github" [(ngModel)]="datosEditados.github">
    </div>

    <div class="input-container ic1">
    <label class="placeholder">URL del CV:</label>
    <input type="text" name="urlcv" [(ngModel)]="datosEditados.urlcv">
    </div>

    <div id="skillsContainer">
      <!-- Aquí se mostrarán los skills agregados -->
    </div>

    <button type="button" class="submit" (click)="agregarSkill()">Agregar Skill</button>


    <button type="submit" class="submit" onclick="location.href='nuevoPortfolio'"  (click)="guardarDatos()">Guardar Cambios</button>

   </form>
  </div>
 



