<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills</title>
</head>
<body id="skill"> 
<div class="skillsection">
  <div class="cardSK">
    <div class="headerSK">My Skills</div>
    <div class="bodySK">
      <div class="skill">
        <div class="skill-nombre">HTML</div>
        <div class="skill-nivel">
          <div class="skill-porcentaje" style="width: 90%"></div>
        </div>
        <div class="skill-porcentaje-numero">90%</div>
      </div>
      <div class="skill">
        <div class="skill-nombre">CSS</div>
        <div class="skill-nivel">
          <div class="skill-porcentaje" style="width: 80%"></div>
        </div>
        <div class="skill-porcentaje-numero">80%</div>
      </div>
      <div class="skill">
        <div class="skill-nombre">JAVASCRIPT</div>
        <div class="skill-nivel">
          <div class="skill-porcentaje" style="width: 75%"></div>
        </div>
        <div class="skill-porcentaje-numero">75%</div>
        </div>
        <div class="skill">
          <div class="skill-nombre">JAVA</div>
          <div class="skill-nivel">
            <div class="skill-porcentaje" style="width: 55%"></div>
          </div>
          <div class="skill-porcentaje-numero">55%</div>
          </div>
          <div class="skill">
            <div class="skill-nombre">C</div>
            <div class="skill-nivel">
              <div class="skill-porcentaje" style="width: 65%"></div>
            </div>
            <div class="skill-porcentaje-numero">65%</div>
            </div>
            <div class="skill">
              <div class="skill-nombre">C++</div>
              <div class="skill-nivel">
                <div class="skill-porcentaje" style="width: 65%"></div>
              </div>
              <div class="skill-porcentaje-numero">65%</div>
              </div>
              <div class="skill">
                <div class="skill-nombre">C#</div>
                <div class="skill-nivel">
                  <div class="skill-porcentaje" style="width: 55%"></div>
                </div>
                <div class="skill-porcentaje-numero">55%</div>
                </div>
                <div class="skill">
                  <div class="skill-nombre">RUBI</div>
                  <div class="skill-nivel">
                    <div class="skill-porcentaje" style="width: 65%"></div>
                  </div>
                  <div class="skill-porcentaje-numero">65%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-nombre">TYPESCRIPT</div>
                    <div class="skill-nivel">
                      <div class="skill-porcentaje" style="width: 75%"></div>
                    </div>
                    <div class="skill-porcentaje-numero">75%</div>
                    </div>
                    <div class="skill">
                      <div class="skill-nombre">MY SQL</div>
                      <div class="skill-nivel">
                        <div class="skill-porcentaje" style="width:75%"></div>
                      </div>
                      <div class="skill-porcentaje-numero">75%</div>
                      </div>
                      <div class="skill">
                        <div class="skill-nombre">ANGULAR</div>
                        <div class="skill-nivel">
                          <div class="skill-porcentaje" style="width: 75%"></div>
                        </div>
                        <div class="skill-porcentaje-numero">75%</div>
                        </div>
                        <div class="skill">
                          <div class="skill-nombre">REACT</div>
                          <div class="skill-nivel">
                            <div class="skill-porcentaje" style="width: 75%"></div>
                          </div>
                          <div class="skill-porcentaje-numero">75%</div>
                          </div>
                          <div class="skill">
                            <div class="skill-nombre">NETBEANS</div>
                            <div class="skill-nivel">
                              <div class="skill-porcentaje" style="width: 75%"></div>
                            </div>
                            <div class="skill-porcentaje-numero">75%</div>
                            </div>
                            <div class="skill">
                              <div class="skill-nombre">INGLES</div>
                              <div class="skill-nivel">
                                <div class="skill-porcentaje" style="width: 85%"></div>
                              </div>
                              <div class="skill-porcentaje-numero">85%</div>
                         
      </div>
    </div> <button class="bn" id="cerrar "onclick="location.href='/app-seccion-dos'" > Cerrar </button>
  </div>
  </div>
 
  </body>
</html>
<router-outlet></router-outlet>