.cardSK {
  width: 800px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
   top:10px;

}

.headerSK {
  background: linear-gradient(32deg,#1f2c4c,#515a93,#938fe5,#e6c9ff);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  top: 20px;
}

.bodySK {
  padding: 20px;

}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-nombre {
  width: 120px;
  font-size: 16px;
}

.skill-nivel {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-porcentaje {
  background-color: #333;
  height: 100%;
}

.skill-porcentaje-numero {
  margin-left: 20px;
  font-size: 16px;
}
.skillsection{
  height: 757px;
  padding-left: 435px;
  box-shadow: 2px 2px 5px #BABECC,
  -5px -5px 10px #ffffff73;
  background: linear-gradient(32deg,#d2bbf9,#8981d8,#525085,#27243d);
  transition: all 1.5s ease;
  top:2px;

}


