
  <div class="section2">
    <div class="fullpage">
      <div class="title">
        <h2 class="titulo">SKILLS<br></h2>
        <div class="border js-letter">
          <span></span>
          <span class="js-letter"></span>
        </div>
          <!--<button onclick="location.href='./app-skill'">
          <span >MUÉSTRAME</span>
        </button>--></div>
      <a class="image image--works" href=jscode.jpeg>
        <div class="image__over">
          <div class="image__cover"></div>
          <div class="image__cover"></div>
        </div>
        <div class="page-num">
          <p>01</p>
        </div></a>
    </div></div>





