<div class="section4" data-anchor="contacto" ><div>
  <div class="fullpage">
    <div class="title">
      <h2 class="titulo">Contacto</h2>
      <div class="border js-letter"><span></span><span class="js-letter"></span></div>
      <ul>
        <li class="js-letter"><a href="mailto:rom-cel@live.com.ar">rom-cel@live.com.ar</a></li>
        <li class="js-letter"></li>
        <li class="js-letter"><i class=""></i></li>
      </ul>
    </div>
    <div class="image image--contacto">
      <div class="image__over">
        <div class="image__cover"></div>
        <div class="image__cover"></div>
      </div>
      <div class="page-num">
        <p>03</p>
      </div>
    </div>
  </div>
</div></div>
